
.tcontainer {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #8cbcfb, #393E46);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tbox {
    width: 35%;
    height: auto;
    padding: 30px;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.timg img{
    width: 340px;
    margin-top: -10px;
}
.text h2{
    color: rgb(103, 215, 103);
    margin-bottom: 10px;
}

.text p{
    color: white;
}

.tbtn button{
    background: linear-gradient(to bottom, #8cbcfb, #393E46);
    border: none;
    outline: none;
    color: white;
    padding: 8px 12px;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 6px;
    cursor: pointer;
}

.tbtn button:hover{
    background: linear-gradient(to bottom, #8cbcfb, #687384);
}
